<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for network requests -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Media permissions for accessing images and videos -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Wallpaper permissions -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RelWallpaper">

        <!-- LOGIN ACTIVITY - Main entry point with launcher intent -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RelWallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN ACTIVITY - Secondary activity (no launcher intent) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <!-- ADD WALLPAPER ACTIVITY -->
        <activity
            android:name=".ui.pages.AddWallpaperActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- WALLPAPER DETAIL ACTIVITY -->
        <activity
            android:name=".ui.pages.WallpaperDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- TAGGED WALLPAPERS ACTIVITY -->
        <activity
            android:name=".ui.pages.TaggedWallpapersActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />


        <!-- SEARCH RESULT WALLPAPERS ACTIVITY -->
        <activity
            android:name=".ui.pages.SearchResultsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- SETTINGS PAGES ACTIVITY -->
        <activity
            android:name=".ui.pages.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- HELP AND SUPPORT PAGES ACTIVITY -->
        <activity
            android:name=".ui.pages.HelpAndSupportActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- NOTIFICATION PAGES ACTIVITY -->
        <activity
            android:name=".ui.pages.NotificationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- PROFILE PAGES ACTIVITY -->
        <activity
            android:name=".ui.pages.ProfilePageActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- UPLOADS PAGES ACTIVITY -->
        <activity
            android:name=".ui.pages.UploadPageActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- FILE PROVIDER for sharing images -->
<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths" />-->
<!--        </provider>-->

    </application>
</manifest>